
@model string 
<td><a asp-action="Details" asp-route-id="@Model"><i class="fa-solid fa-circle-info text-white"></i></a></td>
<td><a asp-action="Edit" asp-route-id="@Model"><i class="fa-regular fa-pen-to-square text-white"></i></a></td>
<td><a asp-action="Delete" asp-route-id="@Model"><i class="fa-solid fa-trash text-white"></i></a></td>