@model RoleViewModel


<div>
    <label asp-for="Id" class="col-form-label"></label>
    <input readonly asp-for="Id" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="roleName" class="col-form-label"></label>
    <input readonly asp-for="roleName" class="form-control" />
</div>
