@model RoleViewModel


<div class="form-group">
    <label asp-for="roleName" class="col-form-label"></label>
    <input asp-for="roleName" class="form-control" />
    <span asp-validation-for="roleName" class="text-danger"></span>
</div>