@{
    ViewData["Title"] = "CheckYourEmail";
    Layout = "~/Views/Shared/_AccountLayOut.cshtml";
}

<center class="p-4"><h2>Password reset email sent to your mail please check your inbox</h2></center>
<center class="m-3"><a href="https://mail.google.com/mail/u/0/#inbox">Go To Your Inbox</a></center>


