
@model EmployeeViewModel

@{
    var departments = new SelectList(ViewBag.departments, "Id", "Name");
}

@*Name*@
<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
@*Image*@
<div class="form-group">
    <label asp-for="Image" class="col-form-label"></label>
    <input asp-for="Image" class="form-control" />
    
</div>
@*Age*@
<div class="form-group">
    <label asp-for="Age" class="col-form-label"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
@*Address*@
<div class="form-group">
    <label asp-for="Address" class="col-form-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
@*salary*@
<div class="form-group">
    <label asp-for="Salary" class="col-form-label"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
@*select department*@
<div class="form-group">
    <label asp-for="Department" class="col-form-label"></label>
    <select class="form-control" asp-items="@departments" asp-for="DepartmentId">
        <option value="@null">------ select department -------</option>
    </select>
    
</div>
@*ISActive*@
<div class="form-group">
    <label asp-for="IsActive" class="col-form-label"></label>
    <input asp-for="IsActive" class="form-control" />
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>
@*Email*@
<div class="form-group">
    <label asp-for="E_mail" class="col-form-label"></label>
    <input asp-for="E_mail" class="form-control" />
    <span asp-validation-for="E_mail" class="text-danger"></span>
</div>
@*phone number*@
<div class="form-group">
    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
@*Hiring date*@
<div class="form-group">
    <label asp-for="HiringDate" class="col-form-label"></label>
    <input asp-for="HiringDate" class="form-control" />
    <span asp-validation-for="HiringDate" class="text-danger"></span>
</div>